# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
.env
*.venv
Pipfile
Pipfile.lock

# Django
db.sqlite3
/media/
/staticfiles/
*.log

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo



# Docker & Deployment
*.dockerfile
.envrc
*.tar

# Project-specific data folder
project_data/
.pytest_cache/